:host {
  /* DEFAULT STYLES*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  .neo-slider {
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s;
    }

    &-nav {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .neo-button.contentless{
          width: 30px;
          height: 30px;
          margin: 0 10px;
      }
    }
  }
}
