<h2>I'm pure CSS!</h2>
<div class="illustration">
  <div class="cloud front">
    <div></div>
    <div></div>
  </div>
  <div class="cloud cballoon">
    <div></div>
    <div></div>
  </div>
  <div class="balloon">
    <div class="air-bottom">
      <div class="bottom-line"></div>
      <div class="bottom-line"></div>
      <div class="bottom-line"></div>
      <div class="bottom-line"></div>
    </div>
    <div class="air">
      <div class="air-deco"></div>
    </div>
    <div class="basket"></div>
  </div>
  <div class="background">
    <div class="sun"></div>
    <div class="cloud bmount">
      <div></div>
      <div></div>
    </div>
    <div class="mountain mountain-1"></div>
    <div class="mountain mountain-2"></div>
  </div>

</div>
