@import '../../../variables';
@import '../../../neo';

.home-entry {
  background-color: #f7f7f7;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  overflow: hidden;
  z-index: 2;

  @media only screen and (max-width: $media-l) {
    flex-direction: column;

    neo-title {
      text-align: center;
      margin: 0;
    }
  }

  &-image {
    width: 50%;
    height: 50%;
    max-width: 600px;
    max-height: 600px;
    position: relative;

    @media only screen and (max-width: $media-l) {
      width: 210px;
    }

    img {
      width: 100%;
      animation: imageEntry 1.5s ease-in-out forwards;
    }

    &-decoration {
      position: absolute;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      bottom: 23%;
      left: 7%;
      animation: imageEntry 2s ease-out forwards;
      @include neo-box-shadow;

      &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        top: 10%;
        left: 10%;
        @include neo-box-shadow-inset;
      }
    }
  }
}

.home-content {
  position: relative;
  background-color: $main-color;
  padding-top: 18vw;
  padding-bottom: 60px;

  .decoration-wave {
    position: absolute;
    z-index: 0;
    top: -2px;
    pointer-events: none;
    filter: drop-shadow(10px 10px 12px #c4cdd9);
  }

  .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;

    @media only screen and (max-width: $media-l) {
      flex-direction: column;
    }

    neo-card {
      width: 300px;
      max-width: 30%;
      height: 400px;
      transition: 0.5s;
      min-width: 20%;
      flex-grow: 0.3;

      @media only screen and (max-width: $media-l) {
        width: 80%;
        max-width: unset;
        height: 200px;
        margin: 0 0 16px;
      }

      neo-title {
        position: absolute;
        top: 0;
        text-align: left;
        margin: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        line-height: 0.9;
        text-transform: uppercase;
      }

      .card-inner {
        position: absolute;
        bottom: 40px;
        width: 80%;
        left: 10%;
        height: 60%;
        border-radius: 20px;
        transition: 0.5s;
        background: $main-color;
        justify-content: space-between;
        transform: translateY(20%);
        pointer-events: none;
        opacity: 0;

        @media only screen and (max-width: $media-l) {
          bottom: 0;
          width: 100%;
          left: 0;
          height: 100%;
        }

        .neo-button {
          margin-bottom: 20px;
          align-self: center;
        }
      }

      .card-product {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: 0.5s;
      }

      &.active {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        min-width: 44%;

        @media only screen and (max-width: $media-l) {
          width: 100%;
        }

        .card-inner {
          transition-delay: 0.2s;
          display: flex;
          flex-direction: column;
          transform: translateY(0);
          pointer-events: auto;
          opacity: 1;

          h2 {
            padding: 20px;
            text-align: right;
            font-size: 30px;

            @media only screen and (max-width: $media-l) {
              padding: 15px;
              font-size: 20px;
            }
          }

          p {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 1.4em;
            padding: 1em;
            box-sizing: border-box;

            @media only screen and (max-width: $media-l) {
              padding: 15px;
              font-size: 1em;
              position: relative;
              padding: 4px 15px;
            }
          }
        }

        .card-product {
          width: 8em;
          height: 8em;
          top: 10px;
          right: 10px;
          left: unset;
        }
      }

      &:nth-of-type(1) {
        margin-top: 100px;

        @media only screen and (max-width: $media-l) {
          margin-top: 0;
          align-self: center;
        }
      }

      &:nth-of-type(2) {
        margin-top: 50px;

        @media only screen and (max-width: $media-l) {
          margin-top: 0;
          align-self: flex-end;
        }
      }
    }
  }
}

@keyframes imageEntry {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
