@keyframes titleEntry {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes titleDescEntry {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes decoCircleEntry {
  from {
    transform: rotate(-360deg);
    opacity: 0;
  }

  to {
    transform: rotate(0);
    opacity: 1;
  }
}
