.neo-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 10px;
  box-sizing: border-box;

  ul {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
