<img class="decoration-wave" src="./assets/wave.svg" alt="Decoration" />
<section class="video-player">
  <div class="video-player-loader" *ngIf="!video.ready">
    <div><div></div></div>
  </div>
  <video class="neo-shadow" #nativeVideo>
    <source src="./assets/video-sample.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="video-controls">
    <button class="play neo-button" aria-label="Play video" (click)="playVideo()">
      <img src="./assets/play.svg" *ngIf="!video.play" alt="Play" />
      <img src="./assets/pause.svg" *ngIf="video.play" alt="Pause" />
    </button>
    <div class="timer" (click)="clickOnProgress($event)">
      <div class="timer-progress" [style.transform]="'scaleX(' + video.progress + ')'">
      </div>
    </div>
    <span class="video-time" aria-label="timer">
      {{video.time.minutes | number:'2.0'}}:{{video.time.seconds | number:'2.0'}}
    </span>
  </div>
</section>
