@import '../../../variables';
@import '../../../neo';

:host {
  background-color: $main-color;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  overflow: hidden;
  z-index: 2;

  .inner-content {
    height: 100vh;
    display: block;
    width: 100%;
    position: relative;
  }
}
