.exp-title {
  h2 {
    font-size: 100px;
    cursor: pointer;
    max-width: 500px;
    span {
      transition: color 3s;
      transition-delay: 1s;
    }

    .color {
      &1 {
        &:hover {
          color: #ff4100;
          transition: color 0s;
        }
      }

      &2 {
        &:hover {
          color: #a6efde;
          transition: color 0s;
        }
      }

      &3 {
        &:hover {
          color: #ffa7da;
          transition: color 0s;
        }
      }

      &4 {
        &:hover {
          color: #72a5ff;
          transition: color 0s;
        }
      }
    }
  }

  p {
      margin-top: 20px;
      font-size: 18px;
  }
}
