@import 'reset';
@import 'neo';
@import 'exp-title';

/* BASICS */
body {
  font-family: 'Raleway', sans-serif;
  color: $text-color;
  background-color: $main-color;

  &.overflowhide {
    @media only screen and (max-width: $media-m) {
      overflow: hidden;
    }
  }
}

.inner-content {
  max-width: 1200px;
  margin: auto;

  @media only screen and (max-width: $media-l) {
    margin: auto 20px;
  }
}


.h2 {
  font-size: 66px;

  @media only screen and (max-width: $media-l) {
    font-size: 40px;
  }
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @include neo-box-shadow-vsmall-inset;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 10px;
}

