@import '../../../neo';

:host {
  position: relative;
  height: auto;
  display: block;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px 20px 20px;
  margin: -20px 20px 70px;
  z-index: 0;
  @include neo-box-shadow;
}
