.playground {
  background-color: #f7f7f7;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  flex-direction: column;
  justify-content: center;

  neo-title {
    line-height: 1;
    padding: 20px 10px;
    margin: 0;
  }

  .h2, p {
    text-align: center;
  }

  p{
      font-size: 20px;
      margin-top: 15px;
  }
}
